@model IEnumerable<MiniBlog.Entities.Concretes.Comment>
<div class="pt-5">
    <h3 class="mb-5">6 Comments</h3>
    <ul class="comment-list">
        @foreach (var commentModel in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="~/Templates/miniblog/images/person_2.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@commentModel.Name</h3>
                    <div class="meta">@commentModel.Date.ToString("MMMM dd yyyy, hh:mm")</div>
                    <p>@commentModel.Text</p>
                    <p><a href="#" class="reply rounded">Yanıtla</a></p>
                </div>
            </li>
        }
    </ul>
    <!-- END comment-list -->

    @Html.Action("LeaveComment", "Comments")
</div>
