@model MiniBlog.Entities.Concretes.Category
@{
    ViewBag.Title = "Save";
}

<h4>Kategori Oluştur</h4>
<form action="/Categories/Save/" method="post">
    <input type="text" id="Name" name="Name" value="" class="form-control" />
    <br />
    <input type="text" id="Description" name="Description" value="" class="form-control" />
    <br />
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="/Categories/Index" class="btn btn-primary">Geri Dön</a>
</form>

