
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<div class="col-md-12 mt-2">
    <h4>Profil Bilgilerim</h4>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab">Profilim</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                @Html.Action("AuthorProfilePartialView", "AuthorProfile")
            </div>
        </div>
    </div>
</div>