<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Mail Bültenimize Abone Olun Güncel Kalın</h2>
                    <p class="mb-5">En Yeni Bültenlerden İlk Sizin Haberiniz Olsun</p>
                    <form action="/SubscribeMails/AddMail" method="post" class="d-flex">
                        <input type="email" id="Mail" name="Mail" class="form-control" placeholder="Eposta Adresiniz">
                        <button type="submit" id="send" class="btn btn-primary">Abone Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>