@using MiniBlog.Entities.Concretes
@model IEnumerable<Category>
@{
    ViewBag.Title = "Test-Kategoriler";
}

<h4>Kategori Listesi</h4>
<table class="table table-bordered">
    <thead class="bg-primary">
        <tr>
            <th>#</th>
            <th>Adı</th>
        </tr>
    </thead>
    <tbody class="bg-success">
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
