@model IEnumerable<MiniBlog.Entities.Concretes.Blog>
<div class="sidebar-box search-form-wrap">
    <form action="#" class="search-form">
        <div class="form-group">
            <span class="icon fa fa-search"></span>
            <input type="text" class="form-control" id="s" placeholder="Aramak için bişeyler yazın">
        </div>
    </form>
</div>
@foreach (var blogAuthor in Model)
{
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="@blogAuthor.Author.Image" alt="Image Placeholder" class="img-fluid mb-5">
            <div class="bio-body">
                <h2>@blogAuthor.Author.Name</h2>
                <p class="mb-4">@blogAuthor.Author.About</p>
                <p><a href="/Authors/AuthorDetails/@blogAuthor.Author.Id" class="btn btn-primary btn-sm rounded px-4 py-2">Diğer Yazılarım</a></p>
            </div>
        </div>
    </div>
}
