@using MiniBlog.Entities.Concretes
@model IEnumerable<About>
<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">Hakkımızda</h3>
                @foreach (var about in Model)
                {
                    <p>@about.Content1</p>
                    <p>@about.Content2</p>
                }
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/Abouts/Index">Hakkımızda</a></li>
                    <li><a href="/Contacts/Index">İletişim</a></li>
                    <li><a href="/Blogs/Index">Anasayfa</a></li>
                    <li><a href="#">Yazar Paneli</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="/Blogs/BlogByCategory/1">Teknoloji</a></li>
                    <li><a href="/Blogs/BlogByCategory/2">Kültür-Sanat</a></li>
                    <li><a href="/Blogs/BlogByCategory/3">Seyahat</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Sosyal Medyada Biz</h3>
                    <p>
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Tüm Haklarını Sakladık &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</div>

