<div class="col-md-5">

    <div class="p-4 mb-3 bg-white">
        <p class="mb-0 font-weight-bold">Adresimiz</p>
        <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

        <p class="mb-0 font-weight-bold">Telefon Numaramız</p>
        <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

        <p class="mb-0 font-weight-bold">Eposta Adresimiz</p>
        <p class="mb-0"><a href="#">youremail@domain.com</a></p>

    </div>

</div>
