
@{
    ViewBag.Title = "Index";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/Templates/miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bize Ulaşın</h1>
                    <p class="lead mb-4 text-white">İçeriklerimizle İlgili Sorunlar İçin Bizimle İletişime Geçin</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @Html.Action("ContactForm", "Contacts")
            @Html.Action("ContactAddress", "Contacts")
        </div>
    </div>
</div>
@Html.Action("Footer", "Abouts")

