@using MiniBlog.Business.Helpers
@model IEnumerable<MiniBlog.Entities.Concretes.Blog>

@foreach (var blogDetail in Model)
{
    <div class="post-content-body">
        <p>@blogDetail.Content.CharacterDelimiter(150)</p>
        <div class="row mb-5 mt-5">
            <div class="col-md-12 mb-4">
                <img src="@blogDetail.Image" alt="Image placeholder" class="img-fluid rounded">
            </div>
        </div>
        <p>@blogDetail.Content</p>
    </div>
}
