@model MiniBlog.Entities.Concretes.Blog
@{
    ViewBag.Title = "AuthorBlogDetail";
    Layout = null;
}
<div class="col-md-12">
    <div>
        <label>@Model.Title</label>
    </div>
    <div>
        <p>@Model.Content</p>
    </div>
</div>
