
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Miniblog Yazar Girişi</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Templates/Report-Login-Free/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Templates/Report-Login-Free/css/font-awesome.min.css" type="text/css" media="all">
</head>
<body>
    <section class="w3l-hotair-form">
        <h1>Yazar Giriş Ekranı</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Oturum Aç</h2>
                        <form action="/AuthorLogin/AuthorLogin" method="post">
                            <input type="email" class="text" id="Email" name="Email" placeholder="Eposta Adresi" required="" autofocus>
                            <input type="password" class="password" id="Password" name="Password" placeholder="Parolanız" required="" autofocus>
                            <button class="btn" type="submit">Giriş Yap</button>
                        </form>

                        <p class="account">Şifremi unuttum? <a href="#signup">Şifre Yenile!</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/Templates/Report-Login-Free/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p class="copy-footer-29">
                © 2021 Report Login Form. All rights reserved | Design by <a href="https://w3layouts.com">W3layouts</a>
            </p>
        </div>
    </section>
</body>
</html>
